force-app/main/default/flows/Fill_Requestor_New.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>checkTTCaction</name>
        <label>checkTTCaction</label>
        <locationX>380</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>isNullAccountName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ifTTCactionChanged</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TTC_Action__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TTC_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TTC_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TTC_Action__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TTC_Action_same_with_Status</targetReference>
            </connector>
            <label>ifTTCactionChanged</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Record</name>
        <label>Create Record</label>
        <locationX>380</locationX>
        <locationY>1199</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_Decision</targetReference>
            </connector>
            <label>Create Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>isLeadNull</name>
        <label>isLeadNull</label>
        <locationX>182</locationX>
        <locationY>767</locationY>
        <defaultConnector>
            <targetReference>FillLead_sCompanyNamee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isLeadEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FillOppName</targetReference>
            </connector>
            <label>isLeadEmpty</label>
        </rules>
    </decisions>
    <decisions>
        <name>isNullAccountName</name>
        <label>isNullAccountName</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Create_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNullAccountNamee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isLeadNull</targetReference>
            </connector>
            <label>isNullAccountNamee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Request_Decision</name>
        <label>Request Decision</label>
        <locationX>182</locationX>
        <locationY>1319</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requestor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_Requestor</targetReference>
            </connector>
            <label>isBlank</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Fill Requestor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fill Requestor New</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Fill_Requestor</name>
        <label>Fill Requestor</label>
        <locationX>50</locationX>
        <locationY>1439</locationY>
        <inputAssignments>
            <field>Requestor__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>FillLead_sCompanyNamee</name>
        <label>FillLead&apos;sCompanyName</label>
        <locationX>314</locationX>
        <locationY>887</locationY>
        <connector>
            <targetReference>Create_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>$Record.Lead__r.Company</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>FillOppName</name>
        <label>FillOppName</label>
        <locationX>50</locationX>
        <locationY>887</locationY>
        <connector>
            <targetReference>Create_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>TTC_Action_same_with_Status</name>
        <label>TTC Action same with Status</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>isNullAccountName</targetReference>
        </connector>
        <inputAssignments>
            <field>TTC_Status__c</field>
            <value>
                <elementReference>$Record.TTC_Action__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkTTCaction</targetReference>
        </connector>
        <object>TTC_records__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
